@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,600');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

html {
	background-color: rgba(99,102,106,0.7);
}

h1 {
	font-family: 'Open Sans', sans-serif;
	font-size: 2.25em 
}

nav	{
	text-decoration: none; 
	text-align: center;
	font-size: 1em; 
	padding: 20px;  
	margin: 20px; 
}

.navlinks {
	text-decoration: none; 
	padding: 10px;
	font-family: 'Roboto', sans-serif;
	font-weight: 500; 
	display: inline-block;
}

#slogan { 
	color: rgb(196,214,0);
	font-family: 'Roboto', sans-serif;
	text-align: center;
	font-size: 1.5em
}

img	{ 
	display: block;
	margin: auto;
	width: 100%;
}

 #description {
 	background-color: white;
 	font-family: 'Roboto', sans-serif;
 	text-align: center; 
 	padding: 20px;
    margin: auto;
}

body {
	font-size: 20px;
	font-weight; normal;
}

#market { 
	font-size: 18px;
	padding-left: 20px;
	font-family: 'Open Sans', sans-serif;
}

ul { 
	font-size: 18px;
	padding-left: 20px;
	font-family: 'Open Sans', sans-serif;
}

footer {
	text-align: right;
	font-size: 16px; 
}

#corelogo {
	float: top;
	width: 200px;
	padding: auto;
}
